*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
}

nav {
    margin: 20px auto;
    width: 90%;
    max-width: 1000px;
}

nav ul {
    list-style: none;
}

nav > ul {
    display: table;
    overflow: hidden;
    width: 100%;
    background: #000;
    position: relative;
}

nav > ul li {
    display: table-cell;
}

/*sub-menu*/

nav > ul > li:hover > ul {
    display: block;
    height: 100%;
}

nav > ul > li >ul {
    display: block;
    position: absolute;
    background: #000;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 0%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

nav > ul li a {
    color: #fff;
    display: block;
    line-height: 20px;
    padding: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

nav > ul > li > ul > li a:hover {
    background: #5da5a2;
}

nav > ul > li > a span {
    background: #174459;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    position:absolute;
    top:-55px; 
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;

}

nav > ul > li > a span .icon {
    display: block;
    line-height: 60px;
}

nav > ul > li > a:hover > span {
    top: 0;
}

/*colores*/

nav ul li a .primero{
    background: #0e5061;
}

nav ul li a .segundo{
    background: #5da5a2;
}

nav ul li a .tercero{
    background: #f25724;
}

nav ul li a .cuarto{
    background: #174459;
}

nav ul li a .quinto{
    background: #37a4d9;
}

